@import "tailwindcss";
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
